<%- include('layout', { body: `
    <section>
        <h2>Cappuccino</h2>
        <img src="/images/Cappuccino.jpeg" alt="Cappuccino" style="max-width: 300px; border-radius: 8px;">
        <p><strong>Description:</strong> Our cappuccino features equal parts espresso, steamed milk, and frothy milk foam. The airy foam, often topped with cocoa powder, creates a velvety cap. Below, the robust espresso is complemented by the smooth milk, delivering a harmonious blend of coffee flavor and light finish, with an inviting aroma of roasted beans and sweet foam.</p>
        <p><strong>Price:</strong> $4.50</p>
        <p><strong>Rating:</strong> 4.6</p>
        
    </section>
` }) %>
