<%- include('layout', { body: `
    <section>
        <h2>Green Tea</h2>
        <img src="/images/GreenTea.jpeg" alt="Green Tea" style="max-width: 300px; border-radius: 8px;">
        <p><strong>Description:</strong> Our Green tea is a refreshing beverage with a light, golden-green hue. Its complex flavor combines grassy and vegetal notes with a hint of sweetness and mild astringency. The smooth texture and earthy aroma provide a soothing experience, while its natural antioxidants offer revitalizing energy.</p>
        <p><strong>Price:</strong> $2.00</p>
        <p><strong>Rating:</strong> 4.4</p>
        
    </section>
` }) %>
