<%- include('layout', { body: `
    <section>
        <h2>Sandwich</h2>
        <img src="/images/Sandwich.jpg" alt="Sandwich" style="max-width: 300px; border-radius: 8px;">
        <p><strong>Description:</strong>Our Sandwiches are versatile dishes made by layering ingredients between slices of bread. Options for bread include white, whole grain, ciabatta, or sourdough. Fillings can be savory or sweet, featuring proteins like meats, cheeses, or plant-based alternatives, along with fresh vegetables and condiments. Their combination of textures and flavors makes sandwiches a convenient and satisfying choice for any meal.</p>
        <p><strong>Price:</strong> $5.00</p>
        <p><strong>Rating:</strong> 4.3</p>
        
    </section>
` }) %>
